@use 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$blue: #006abf;

body {
    font-family: 'Inter', sans-serif;
    background-color: #DFF2EB !important;
    color: #1e2838;
}

.bg-blue {
    background-color: #006abf !important;
}

.bg-beige {
    background-color: #F3F3E0 !important;
}

.header {
    margin-top: 20px;
}

.products {    
    margin-left: 100px;
    margin-right: 100px;
}

.form {
    font-weight: bold;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    background-color: #7AB2D3;
    color: #1e2838;
}

.form-button {
    width: 100%;
    background-color: #4A628A !important;
    color: whitesmoke !important;
}

.form-button:hover {
    background-color: #3a4a6a !important;
    color: whitesmoke !important;
}

.product-table-container {
    margin-top: 50px;
    border-top: 2px solid #1e2838;
    text-align: center;
}

.product-table {
    margin-top: 20px;
}

.action {
    width: 100px
}

.action button {
    min-width: 32px;
    min-height: 32px;
}

.quantity-cell {
    width: 20px;
}

.price-cell {
    width: 1000px;
    max-width: 120px;
}

.product-table input {
    height: 100%;
}

// .button-container-block {
//     display: flex;;
// }